<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Some website here</title>
  </head>
  <body>
    {{> header}}
    <p>Project page text would be here.</p>

    {{> footer}}
  </body>
</html>
